version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10
    groups:
      dependencies:
        patterns:
          - "*"
    ignore:
      - dependency-name: "eslint"
        versions: [">= 10.0.0"]
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
